.counter_wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 500px;
    gap: 20px;
   
}
.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 16px;
    background: rgb(255, 2, 2);
    border-radius: 5%;
    cursor: pointer;

   
}

.counter_group{
    display: flex;
    width: 130px;
    align-items: center;
    justify-content:space-between;
    
}