.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}

.discount {
  font-weight: 500;
  font-size: 30px;
  position: relative;
  top: 90px;
  left: 210px;
  background: rgba(240, 91, 91, 0.6);
  border-radius: 50%;
}

.img {
  width: 500px;
  height: 300px;
  box-shadow: 12px 12px 23px 3px rgba(0, 0, 255, 0.2);
}
.btn {
  border: 1px rgb(255, 253, 253) solid;
  position: relative;
  bottom: 45px;
  background: rgba(92, 230, 235, 0.5);
}
.price {
  color: blue;
}

span {
  position: relative;
  left: 30px;
  color: rgb(141, 198, 248);
  text-decoration: line-through;
  text-decoration-color: rgba(240, 120, 120, 0.5);
}
.discountTwo {
  border: 1px solid #000;
  position: relative;
  right: 200px;
  background: rgb(54, 89, 245);
  border-radius: 5%;
  font-size: 20px;
}
